.clock {
  width: 500px;
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1255&q=80");
  border: 20px solid #000000;
  border-radius: 50%;
  background-position: center;
}

.pointer {
  width: 230px;
  height: 20px;
  background-color: #eeff00;
  position: relative;
  top: 240px;
  left: 250px;
  border-radius: 20px;
  transform-origin: left;
  transform: rotate(-90deg);
  animation: rotate 4s ease-in-out 2s infinite alternate both running;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
    background-color: #00ff9d;
  }
  100% {
    transform: rotate(270deg);
    background-color: #00fff2;
  }
}
