@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1 {
  font-size: 2rem;
  color: yellow;
  background-color: black;
  font-family: "Roboto";
  text-align: center;
  transition: transition 1s ease-in-out 1s ;
}

h1:hover {
  color: #00ff7f;
  font-size: 2rem;
  background-color: black;
  font-family: "Roboto";
  text-align: center;
}