div {
  width: 1000px;
  height: 700px;
  background-color: #bdffd1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-two {
  flex-basis: 500px;
}

