.parent {
	width: 300px;
	height: 300px;
	border: 10px solid #ff0a54;
}

.child {
	width: 150px;
	height: 150px;
	background-image: linear-gradient(to right bottom, #80ffdb, #7400b8);
	position: absolute;
	top: 150px;
}