.parent {
	width: 300px;
	height: 300px;
	border: 10px solid blue;
}

.child {
	width: 150px;
	height: 150px;
	background-image: linear-gradient(to bottom left, #f72585, #7209b7);
	position: static;
	top: 50px;
	left: 150px;
}